<section class="about-section">
  <p class="about">About</p>
  <h3 class="section-title">The Story Behind The Brandzstory</h3>

  <div class="about-row" *ngFor="let person of people; let i = index" [ngClass]="{ 'reverse': i % 2 !== 0 }">

    <div class="image-block">
      <img [src]="person.image" />
      <div class="quote-card">
        "{{ person.quote }}"
      </div>
    </div>

    <div class="text-block">
      <span class="label">{{ person.note }}</span>

      <h2 class="name">{{ person.name }}</h2>
      <p class="role">{{ person.role }}</p>

      <p class="desc">{{ person.paragraph1 }}</p>
      <p class="desc">{{ person.paragraph2 }}</p>
    </div>


  </div>
</section>