<section class="contact-section">
  <p class="contact-subtitle">Ready to Tell Your Brand Story?</p>
  <h3 class="contact-title">Start Your Story With Us</h3>

  <div class="contact-layout">

    <!-- LEFT CARD -->
    <div class="contact-card">
      <h4>{{ data.title }}</h4>
      <p>{{ data.description }}</p>

      <div class="contact-item">
        <img src="assets/logos/email.jpg" alt="email" />
        <div class="footer-contact">
          <a [href]="'mailto:' + data.email">
            <span>{{ data.email }}</span>
          </a>
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/logos/phone.png" alt="phone" />

        <div class="footer-contact">
          <a [href]="'tel:' + data.phone">
            <span>{{ data.phone }}</span>
          </a>
        </div>
      </div>

      <div class="contact-item">
        <img src="assets/logos/insta.jpg" alt="instagram" />
        <a href="https://www.instagram.com/thebrandzstory?igsh=Y2oycWZnc3p5M3J3">
          <span> {{ data.instagram }}</span>
        </a>
      </div>
    </div>

    <!-- RIGHT FORM -->
    <form class="contact-form">

      <div class="form-row">
        <input type="text" placeholder="Brand" />
        <input type="email" placeholder="Email" />
      </div>

      <input type="text" placeholder="Subject" />

      <textarea placeholder="Tell us about your project..."></textarea>

      <button type="submit">Send Message</button>

    </form>

  </div>
</section>