* {
  box-sizing: border-box;
}

body {
  margin: 0%;
}

.footer {
  background: linear-gradient(90deg,
      rgb(189, 203, 221) 0%,
      rgb(1, 60, 139) 40%,
      rgb(0, 18, 42) 100%);
  color: #ffffff;
  padding: 30px 40px 15px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1152px; */
  width: 100%;
  max-width: 100%;
  /* margin: 0px auto; */
  padding: 0 40px;
}

.footer-left {
  max-width: 380px;
}

.footer-logo {
  margin-top: 0px;
  width: 100px;
  margin-bottom: 0px;
}

.footer-tagline {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer-description {
  font-size: 13px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.85);
}

.footer-right {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-right h1 {
  font-size: 16px;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contact img {
  width: 18px;
  height: 18px;
}

.footer-contact span {
  font-size: 13px;
}

.footer-bottom {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  margin-top: 0px;
  padding-top: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* max-width: 1152px; */
  width: 100%;
  max-width: 100%;
  /* margin: 0px auto; */
  padding: 0 40px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.footer-bottom p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.footer-links span:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {

  .footer {
    padding: 16px 14px;
  }

  .footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    text-align: left;
  }

  /* ✅ LEFT (LOGO) */
  .footer-left {
    max-width: 100%;
  }

  .footer-logo {
    width: 100px;
    margin-bottom: 0px;
  }

  /* ✅ RIGHT SIDE CONTENT */
  .footer-right {
    max-width: 60%;
    margin-top: 0;
    gap: 14px;
  }

  .footer-tagline {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 6px;
  }

  .footer-description {
    display: none;
    font-size: 11px;
    line-height: 1.4;
  }

  .footer-right h1 {
    font-size: 13px;
    /* margin-top: 14px; */
  }

  .footer-contact {
    gap: 8px;
  }

  .footer-contact img {
    width: 14px;
    height: 14px;
  }

  .footer-contact span {
    font-size: 11px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;
    text-align: center;
  }

  .page-b {
    padding: 40px 0 0 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .footer-bottom p {
    font-size: 10px;
  }

  .footer-links {
    gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-links span {
    font-size: 10px;
  }

}