<footer class="footer">

  <!-- TOP CONTENT -->
  <div class="footer-main">

    <!-- LEFT -->
    <div class="footer-left">

      <!-- ✅ LOGO IMAGE -->
      <img src="assets/images/footer-image.png" alt="Brand Logo" class="footer-logo" />

      <p class="footer-tagline">The Story Behind Every Brand</p>

      <p class="footer-description">
        {{ data.description }}
      </p>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <h1>Contact</h1>
      <div class="footer-contact">
        <img src="assets/logos/email.jpg" />
        <a [href]="'mailto:' + data.email">
          <span>{{ data.email }}</span>
        </a>
      </div>

      <div class="footer-contact">
        <img src="assets/logos/phone.png" />
        <a [href]="'tel:' + data.phone">
          <span>{{ data.phone }}</span>
        </a>
      </div>

      <div class="footer-contact">
        <img src="assets/logos/insta.jpg" />
        <a href="https://www.instagram.com/thebrandzstory?igsh=Y2oycWZnc3p5M3J3"> <span> {{ data.instagram }}</span></a>
        <!-- <span>{{ data.instagram }}</span> -->
      </div>

    </div>

  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom">
    <p>{{ data.copyright }}</p>

    <div class="footer-links">
      <span>{{ data.privacyPolicy }}</span>
      <span>{{ data.termsOfService }}</span>
    </div>
  </div>

</footer>