html,
body {
  background: white;
}
.showcase-section {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.showcase-frame {
  position: relative;
  width: 100%;
  border: 10px solid #092a5d;
  border-radius: 18px;
  padding: 16px;
  background: white;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  overflow: hidden;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
  scroll-behavior: auto;
  scrollbar-width: none;
}

.poster-grid::-webkit-scrollbar {
  display: none;
}

.poster-grid img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.play-badge {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fff;
  /* border: 6px solid #ff8f1f; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
  z-index: 10;
  pointer-events: none;
}

.file-icon {
  font-size: 30px;
}

.showcase-frame {
  cursor: pointer;
}

@media (max-width: 900px) {
  .poster-grid {
    grid-template-columns: repeat(2, 1fr);
    height: 430px;
  }
}

@media (max-width: 600px) {
  .poster-grid {
    grid-template-columns: 1fr;
    height: 420px;
  }
  .poster-grid img {
    width: 100%;
    aspect-ratio: 4/5;
    height: 180px;
  }
}
