<!-- <section class="story-section">
  <p>What We Do</p>
  <h3>Designing Stories That Convert</h3>

  <div class="pill-wrapper">
    <div class="pill-col left">
      <span class="pill" *ngFor="let pill of leftPills">
        <img [src]="pill.icon" [alt]="pill.label" class="pill-icon" />
        <span class="pill-text">{{ pill.label }}</span>
      </span>
    </div>

    <p class="section-text">
      At The Brandzstory, we craft user-first UI/UX designs and modern,
      responsive websites that are built for clarity and performance.
      Through strong branding, impactful graphic design, and scroll-stopping
      videos and reels, we help brands communicate with confidence. Backed by
      strategic digital and social media marketing, we turn attention into
      action and stories into growth.
    </p>

    <div class="pill-col right">
      <span class="pill" *ngFor="let pill of rightPills">
        <img [src]="pill.icon" [alt]="pill.label" class="pill-icon" />
        <span class="pill-text">{{ pill.label }}</span>
      </span>
    </div>
  </div>
</section> -->




<section class="agency-section">
  <p class="subtitle">What We Do</p>

  <h2 class="title-top">Crafting Stories That Drive Success</h2>

  <div class="tag tag-gray">
    <h4>Social Media Marketing</h4>
    <span>Posts • Reels • Stories • Content Strategy</span>
  </div>

  <div class="tag tag-yellow">
    <h4>Photography & Videography</h4>
    <span>Food • Product • Corporate • Events • Brand Films</span>
  </div>

  <div class="tag tag-red">
    <h4>Branding & Design</h4>
    <span>Logos • Creatives • Brochures • Packaging</span>
  </div>

  <div class="tag tag-green">
    <h4>Website Development</h4>
    <span>Business • Restaurant • Landing Pages</span>
  </div>

  <div class="tag tag-purple">
    <h4>Production Services</h4>
    <span>Drone Shoots • Photography • Advertisement Videos</span>
  </div>

  <div class="tag tag-blue">
    <h4>Advertising</h4>
    <span>Meta Ads • Google Ads</span>
  </div>

  <div class="hero-content">
    <h3>We're</h3>

    <h1>
      <span class="blue">Creative Agency</span>
      <span class="and"> &</span>
    </h1>

    <h1>
      <span class="italic">Production</span>
      <span class="blue1">House</span>
    </h1>
  </div>

  <p class="description">
    At The Brandzstory, we bring brands to life through creative storytelling,
    strategic marketing, and high-quality production. From social media content
    and branding to websites, advertising, photography, and video production,
    we craft experiences that capture attention, build trust, and drive growth.
  </p>
</section>


<section class="video-wrapper">
  <div class="video-frame">
    <video controls muted loop playsinline poster="assets/images/brandzcover.jpeg">
      <source src="assets/videos/brandzstory.mp4">

    </video>
    <div class="quote-box quote-bottom">
      <p>“The Brandzstory!”
        <!-- The Story Behind Every Brand. -->
      </p>
    </div>
  </div>
</section>
<!-- <section class="story-section">
  <p>What We Do</p>
  <h3>Designing Stories That Convert</h3>

  <div class="pill-wrapper">
    <div class="pill-col left">
      <span class="pill" *ngFor="let pill of leftPills">
        <img [src]="pill.icon" [alt]="pill.label" class="pill-icon" />
        <span class="pill-text">{{ pill.label }}</span>
      </span>
    </div>

    <p class="section-text">
      At The Brandzstory, we craft user-first UI/UX designs and modern,
      responsive websites that are built for clarity and performance.
      Through strong branding, impactful graphic design, and scroll-stopping
      videos and reels, we help brands communicate with confidence. Backed by
      strategic digital and social media marketing, we turn attention into
      action and stories into growth.
    </p>

    <div class="pill-col right">
      <span class="pill" *ngFor="let pill of rightPills">
        <img [src]="pill.icon" [alt]="pill.label" class="pill-icon" />
        <span class="pill-text">{{ pill.label }}</span>
      </span>
    </div>
  </div>
</section> -->




<section class="agency-section">
  <p class="subtitle">What We Do</p>

  <h2 class="title-top">Crafting Stories That Drive Success</h2>

  <div class="tag tag-gray">
    <h4>Social Media Marketing</h4>
    <span>Posts • Reels • Stories • Content Strategy</span>
  </div>

  <div class="tag tag-yellow">
    <h4>Photography & Videography</h4>
    <span>Food • Product • Corporate • Events • Brand Films</span>
  </div>

  <div class="tag tag-red">
    <h4>Branding & Design</h4>
    <span>Logos • Creatives • Brochures • Packaging</span>
  </div>

  <div class="tag tag-green">
    <h4>Website Development</h4>
    <span>Business • Restaurant • Landing Pages</span>
  </div>

  <div class="tag tag-purple">
    <h4>Production Services</h4>
    <span>Drone Shoots • Photography • Advertisement Videos</span>
  </div>

  <div class="tag tag-blue">
    <h4>Advertising</h4>
    <span>Meta Ads • Google Ads</span>
  </div>

  <div class="hero-content">
    <h3>We're</h3>

    <h1>
      <span class="blue">Creative Agency</span>
      <span class="and"> &</span>
    </h1>

    <h1>
      <span class="italic">Production</span>
      <span class="blue1">House</span>
    </h1>
  </div>

  <p class="description">
    At The Brandzstory, we bring brands to life through creative storytelling,
    strategic marketing, and high-quality production. From social media content
    and branding to websites, advertising, photography, and video production,
    we craft experiences that capture attention, build trust, and drive growth.
  </p>
</section>