<section class="hero-section" [ngStyle]="{ 'background-image': 'url(' + data.bgimg + ')' }">
  
  <div class="title-block">
    <img [src]="data.title" alt="title" class="title-img" />
    <p class="title-caption">The Story Behind Every Brand</p>
  </div>

  <img [src]="data.leftSticker" alt="left sticker" class="floating floating-left" />
  <img [src]="data.rightSticker" alt="right sticker" class="floating floating-right" />

  <div class="desc">
    <h1>
      <span class="blue1">{{ data.titleLine1Blue }}</span>
      <span class="italic1">{{ data.titleLine1Italic }}</span>
      <br />
      <span class="italic">{{ data.titleLine2Italic }}</span>
      <span class="blue">{{ data.titleLine2Blue }}</span>
    </h1>
  </div>

  <p class="hero-subtext">
    {{ data.subtext }}
  </p>

  <button class="hero-btn">{{ data.buttonText }}
    <img [src]="data.storiesimg" alt="stories image" />
  </button>
</section>